@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.header {
  background: #edede9;
}

nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 5%;
}

h1 {
  font-size: 35px;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

h2 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.cal-homepage {
  height: 100vh;
  background: #fefae0;
  display: flex;
  justify-content: space-between;
  padding: 50px 5%;
}

.calculator {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
}

.grid-item {
  border: 1px solid #dee2e6;
  background: #edede9;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: end;
  background: #a6a7b8;
}

.grid-item0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.orange-bg {
  background: orange;
}

.home {
  height: 100vh;
  background: #fefae0;
  padding: 0 5%;
}

.home h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.home-content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.home-para {
  margin-bottom: 10px;
}

.random-q {
  height: 100vh;
  background: #fefae0;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 12% 5%;
}

.quote {
  box-shadow: 5px 10px 20px rgb(199, 109, 109) inset;
  padding: 10px;
}
